// Color variables
$color-background: #070a07;
$color-background-light: #152115;
$color-text: #f0f0f0;

$color-primary: #1aa64b;
$color-primary-hover: #18bf52;
$color-primary-transparent: #18bf5247;

$color-google: #4285f4;
$color-google-hover: #3a77d9;

$color-danger: #9a2820;
$color-danger-hover: #c12b20;

// Font size variables
$font-size-tiny: 12px;
$font-size-select: 15px;
$font-size-small: 19px;
$font-size-medium: 24px;
$font-size-large: 30px;

// Spacing variables
$spacing-small: 8px;
$spacing-medium: 13px;
$spacing-large: 20px;

// Fonts
$font-common: 'Jura', sans-serif;
