// Color variables
$color-background: #101010;
$color-background-transparent: #000000dd;
$color-background-light: #404040;
$color-grey-text: #909090;
$color-text: #fafafa;
$color-primary: #e9eff3;
$color-primary-hover: #168ddd;
$color-secondary: #14ab3f;
$color-secondary-hover: #16c247;
$color-danger: #f2dedc37;
$color-danger-hover: #bb2a1a;

// Font size variables
$font-size-tiny: 12px;
$font-size-select: 15px;
$font-size-small: 19px;
$font-size-medium: 24px;
$font-size-large: 30px;

// Spacing variables
$spacing-small: 8px;
$spacing-medium: 13px;
$spacing-large: 20px;

// Fonts
$font-decorative: 'Major Mono Display', monospace;
$font-common: 'Ubuntu Sans', sans-serif;
