@import '../../styles/variables';

.webapp-select {
    color: $color-background !important;
    width: 100%;

    &__option {
        color: $color-background !important;
    }

    .ant-select-selection-search-input {
        color: $color-background !important;
        font-size: $font-size-select;
    }
}

.ant-select-disabled {
    span {
        color: $color-grey-text !important;
    }
}
// .webapp-select:disabled {
//     background-color: $color-background-light !important;
// }

// .webapp-select::placeholder {
//     color: $color-background !important;
// }
