.webapp-button {
    background-color: $color-primary;
    color: $color-text;
    font-weight: 500;
}
.webapp-button:hover {
    background-color: $color-primary-hover !important;
}

.google-btn {
    background-color: $color-google;
}
.google-btn:hover {
    background-color: $color-google-hover !important;
}

.feature-btn {
    background-color: #c9ae12;
    animation: appear 1s ease;
}
.feature-btn:hover {
    background-color: #ddbe0f !important;
}

@keyframes appear {
    0% {
        opacity: 0;
        scale: 0.55;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.danger-button {
    background-color: $color-danger;
    color: $color-text;
}

.danger-button:hover {
    background-color: $color-danger-hover !important;
    color: $color-background;
}

@media (pointer: coarse) {
    .webapp-button:hover {
        background-color: $color-primary !important;
        color: $color-text;
    }
    .danger-button:hover {
        background-color: $color-danger !important;
        color: $color-background;
    }
    .feature-btn:hover {
        background-color: #c9ae12 !important;
        color: $color-background;
    }
    .google-btn:hover {
        background-color: $color-google !important;
        color: $color-background;
    }
}

.webapp-button:disabled {
    border: 1.5px solid $color-text;
    color: $color-text;
    background-color: $color-background-light !important;
    &:hover {
        background-color: $color-background-light !important;
    }
}

.feature-btn:disabled {
    border: 1.5px solid #6b5c06;
    color: $color-text;
    background-color: #c9ae1246 !important;
    &:hover {
        background-color: #c9ae1246 !important;
    }
}

.rectangle-btn {
    min-width: 42px;
}

.no-children-click {
    // Prevent clicks on all children
    & > * {
        pointer-events: none;
    }
}
