.webapp-button {
    background-color: $color-primary;
    color: $color-text;
    font-weight: 500;
}
.webapp-button:hover {
    background-color: $color-primary-hover !important;
}

.danger-button {
    background-color: $color-danger;
    color: $color-text;
}

.danger-button:hover {
    background-color: $color-danger-hover !important;
    color: $color-background;
}

@media (pointer: coarse) {
    .webapp-button:hover {
        background-color: $color-primary !important;
        color: $color-text;
    }
    .danger-button:hover {
        background-color: $color-danger !important;
        color: $color-background;
    }
}

.webapp-button:disabled {
    border: 1.5px solid $color-text;
    color: $color-text;
    background-color: $color-background-light !important;
    &:hover {
        background-color: $color-background-light !important;
    }
}

.rectangle-btn {
    min-width: 42px;
}
